.boardWindow {
  width: 1000px;
  height: 250px;
  border: 2px solid black;
  margin: 70px 187px 0px 187px;
  vertical-align: middle;
  position: relative;
}

.navigation {
  width: 90px;
  padding-top: 20px;
  margin-left: 185px;
}

.player {
  position: absolute;
  bottom:0;
  left:0;
}
