.viewWindow {
  width: 1000px;
  height: 250px;
  margin: 70px 187px 0px 187px;
  vertical-align: middle;
  position: relative;
}

.trees {
  width: 1000px;
  height: 250px;
  background-image: url('./images/background-2.png'); /*entire first layer to go here: ground, immediate background ct*/;
  background-position: center center;
  position: absolute;
  left: 195px;
  top: 70px;
  z-index: -1;
}

.background {
  width: 1000px;
  height: 250px;
  background-image: url('./images/background-3.png');/*Sky bCKGROUND. Parallax scrolling */
  background-position: center center;
  position: absolute;
  left: 195px;
  top: 70px;
  z-index: -2;
}

.navigation {
  width: 90px;
  padding-top: 20px;
  margin-left: 185px;
}

.player {
  position: absolute;
  bottom: 0;
  left:0;
}
