body {
  margin: auto;
/*  position: relative;
*/  }

  .viewWindow {
  width: 800px;
  height: 700px;
  left: 195px;
  top: 70px;
  position: absolute;
  background-color: yellow;
}

.trees {
  width: 800px;
  height: 700px;
  background-image: url('./images/background-3.jpg');
  position: absolute;
  left: 0;
  top: 0;
  z-index: -3;
}

/*

.background {
  width: 800px;
  height: 700px;
  background-image: url('./images/background-2.png');
  background-attachment: fixed;
  background-position: 0% 0%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
}*/

.player {
  position: absolute;
  bottom: 0;
  left:0;
}

.minion {
  background-image: url('./images/minion1.png');
  width: 70px;
  height: 130px;
}

.bat {
  background-image: url('./images/minion2.png');
  width: 70px;
  height: 130px;
}
.platforms {
    width: 3000px;
    height: 700px;
    position: relative;
    background-position: 0% 0%;
}

.platform1, .platform2, .platform {
  width: 100px;
  height: 500px;
  background-color: green;
  position: absolute;
  bottom: 0;
  }

  .platform2 {
  width: 130px;
  height: 200px;
  left: 20%;
  }
  .platform3 {
  width: 90px;
  height: 100px;
  left: 80%;
  }
